*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.my-text-primary{
    color: black;
}

.my-text-secondary{
    color: black;
}

.my-bg-primary{
    background-color: black;
}

.my-bg-secondary{
    background-color: black;
}

.myFontFamily{
    
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*/////// XL ////////*/
@media (max-width:1200px){
    
}

/* ////// lg /////// */
@media (max-width:992px){
    
}

/* ////// md /////// */
@media (max-width:768px){
    
}

/* ////// Sm /////// */
@media (max-width:576px){
    
}